<%- include('includes/header.ejs') %>
        <h1>Добавление дела</h1>
        <form action="/add" method="post">
            <label>Заголовок</label>
            <input name="title">
            <label>Описание</label>
            <textarea name="desc"></textarea>
            <div class="horizontal">
                <input type="submit" value="Добавить">
            </div>
        </form>
<%- include('includes/footer.ejs') %>
