<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/picnic">
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %> :: <%= appTitle %></title>
    </head>
    <body>
        <nav>
            <% if (req.user) { %>
            <a href="/" class="brand">
              <span>Список дел</span>
            </a>
            <% } %>
            <input id="bmenub"
                   type="checkbox" class="show">
            <label for="bmenub"
                   class="burger pseudo button">&#9776;</label>
            <div class="menu">
                <% if (req.user) { %>
                <a href="/mostactive/"
                   class="button">Самые активные пользователи</a>
                <a href="/add/"
                   class="button">Добавить дело</a>
                <form action="/logout" method="post"
                      class="horizontal">
                    <input type="submit" class="warning"
                           value="Выйти">
                </form>
                <% } else { %>
                <a href="/register/"
                   class="button">Зарегистрироваться</a>
                <a href="/login/"
                   class="button success">Войти</a>
                <% } %>
            </div>
        </nav>
